iceberg_catalog/
app/prova.py
spark-warehouse/
dataset/2024_12_backblaze.csv
dataset/2024_12_bb_3d.csv
dataset/2024_12_15_test.csv
dataset/2024_12_bb_3d_augmented.csv
dataset/2024_12_25_test_augmented.csv
dataset/*.csv
dataset/*.zip
dataset/anomalies/*.csv

TODO.txt

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store


# Logs
*.log
logs/

# Local development
.python-version
.env.local
.env.development.local
.env.test.local
.env.production.local 